{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'MainPage2/styles.css'%}">
  <title>Page 1</title>
</head>
<body>
  <header>
    <h1>Page 1 Content</h1>
  </header>
  <nav>
    <ul>
      <li><a href="mainpage.html">Home</a></li>
      <li><a href="page2.html">Page 2</a></li>
    </ul>
  </nav>
  <main>
    <p>This is the content of Page 1.</p>
  </main>
 
</body>
</html>
